@model Infrastructure.Models.Overtime

@{
    ViewData["Title"] = "Create";
    Layout = "_StarAdminLayout";
}
    
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <form class="form" asp-action="Create">
            <div class="card-body">
                <div class="card-description">
                    <span class="text-dark font-weight-bold mr-4">Register Over Time</span>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>Employee ID:</label>
                            <select type="text" class="form-control" asp-for="EmployeeId" asp-items="ViewBag.EmployeeId" id="EmployeeID" required>
                                <option>Select Employee ID</option>
                            </select>
                        </div>
                    </div>

                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Date :</label>
                            <input type="date" asp-for="Date" class="form-control" placeholder="Date" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>Normal OT:</label>
                            <input type="number" asp-for="NormalOT" class="form-control" placeholder="Normal OT" max="24" step=".01"/>
                            <span asp-validation-for="NormalOT" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Normal OT 2:</label>
                            <input type="number" asp-for="NormalOT2" class="form-control" placeholder="Normal OT 2" max="24"/>
                            <span asp-validation-for="NormalOT2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>Weekend OT:</label>
                            <input type="number" asp-for="WeekendOT" class="form-control" placeholder="Weekend OT" max="24"/>
                            <span asp-validation-for="WeekendOT" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Holiday OT:</label>
                            <input type="number" asp-for="HolyDayOT" class="form-control" placeholder="Holiday OT" max="24"/>
                            <span asp-validation-for="HolyDayOT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" asp-controller="Overtimes" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>
</div>
   

 

 