 
<!--begin::Row-->
<div class="row">
    <div class="col-xl-4">
        <!--begin::Tiles Widget 1-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <div class="card-title">
                    <div class="card-label">
                        <div class="font-weight-bolder">Weekly Stats</div>
                        <div class="font-size-sm text-muted mt-2">12 Engagement</div>
                    </div>
                </div>
                @*<div class="card-toolbar">
                    <div class="dropdown dropdown-inline">
                        <a href="#" class="btn btn-clean btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ki ki-bold-more-hor"></i>
                        </a>
                    </div>
                </div>*@
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body d-flex flex-column px-0">
                <!--begin::Chart-->
                @*<div id="kt_tiles_widget_1_charta" data-color="info" style="height: 125px"></div>*@
                <!--end::Chart-->
                <!--begin::Items-->
                <div class="flex-grow-1 card-spacer-x">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center justify-content-between mb-10">
                        <div class="d-flex align-items-center mr-2">
                            <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                                <div class="symbol-label">
                                    <img src="assets/media/svg/misc/006-plurk.svg" alt="" class="h-50" />
                                </div>
                            </div>
                            <div>
                                <a  class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Top Contents</a>
                                <div class="font-size-sm text-muted font-weight-bold mt-1">Content type</div>
                            </div>
                        </div>
                        <div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base">Video</div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center justify-content-between mb-10">
                        <div class="d-flex align-items-center mr-2">
                            <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                                <div class="symbol-label">
                                    <img src="assets/media/svg/misc/015-telegram.svg" alt="" class="h-50" />
                                </div>
                            </div>
                            <div>
                                <a class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Best Resource Location</a>
                                <div class="font-size-sm text-muted font-weight-bold mt-1">Most of our contents are from</div>
                            </div>
                        </div>
                        <div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base">CK12</div>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center mr-2">
                            <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                                <div class="symbol-label">
                                    <img src="assets/media/svg/misc/003-puzzle.svg" alt="" class="h-50" />
                                </div>
                            </div>
                            <div>
                                <a class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">Total Engagements</a>
                                <div class="font-size-sm text-muted font-weight-bold mt-1">Which grade level</div>
                            </div>
                        </div>
                        <div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base">@ViewBag.noEngagement</div>
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Items-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Tiles Widget 1-->
    </div>
    <div class="col-xl-8">
        <div class="row">
            <div class="col-xl-6">
                <!--begin::Tiles Widget 2-->
                <div class="card card-custom bg-danger gutter-b" style="height: 130px">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column p-0">
                        <!--begin::Stats-->
                        <div class="flex-grow-1 card-spacer-x pt-6">
                            <div class="text-inverse-danger font-weight-bold">Number of Employees</div>
                            <div class="text-inverse-danger font-weight-bolder font-size-h3">@ViewBag.TotalEmployee</div>
                        </div>
                        <!--end::Stats-->
                        <!--begin::Chart-->
                        <div id="kt_tiles_widget_2_chart_" class="card-rounded-bottom" style="height: 50px">
                        </div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Tiles Widget 2-->
                <!--begin::Tiles Widget 3-->
                <div class="card card-custom bgi-no-repeat bgi-no-repeat bgi-size-cover gutter-b" style="height: 130px; background-image: url(assets/media/bg/bg-9.jpg)">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <!--begin::Title-->
                        <a href="#" class="text-dark-75 text-hover-primary font-weight-bolder font-size-h3">Projects</a>
                        <div class="text-hover-primary font-weight-bolder font-size-h3">@ViewBag.TotalProjects</div>
                        <!--end::Title-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Tiles Widget 3-->
            </div>
            <div class="col-xl-6">
                <!--begin::Tiles Widget 4-->
                <div class="card card-custom gutter-b" style="height: 130px">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <!--begin::Stats-->
                        <div class="flex-grow-1">
                            <div class="text-dark-50 font-weight-bold">Divisions</div>
                            <div class="font-weight-bolder font-size-h3">3</div>
                        </div>
                        <!--end::Stats-->
                        <!--begin::Progress-->
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--end::Progress-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Tiles Widget 4-->
                <!--begin::Tiles Widget 5-->
                <div class="card card-custom bg-info gutter-b" style="height: 130px">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column p-0">
                        <!--begin::Stats-->
                        <div class="flex-grow-1 card-spacer-x pt-6">
                            <div class="text-inverse-info font-weight-bold">Top Division</div>
                            <div class="text-inverse-info font-weight-bolder font-size-h3">Management</div>
                        </div>
                        <!--end::Stats-->
                        <!--begin::Chart-->
                        <div id="kt_tiles_widget_5_chart_" class="card-rounded-bottom" style="height: 50px"></div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Tiles Widget 5-->
            </div>
        </div>
        <!--begin::Mixed Widget 20-->
        <div class="card card-custom bgi-no-repeat gutter-b" style="height: 175px; background-color: #4AB58E; background-position: calc(100% + 1rem) bottom; background-size: 25% auto; background-image: url(assets/media/svg/humans/custom-1.svg)">
            <!--begin::Body-->
            <div class="card-body d-flex align-items-center">
                <div class="py-2">
                    <h3 class="text-white font-weight-bolder mb-3">No More Hassle!</h3>
                    <p class="text-white font-size-lg">
                        The resources you are looking for<br />
                        Are just few clicks <br />
                        Away!
                    </p>
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Mixed Widget 20-->
    </div>
   
</div>
<!--end::Row-->