@model Infrastructure.Models.Company

@{
    ViewData["Title"] = "Create";
    Layout = "_StarAdminLayout";
}

@*<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDescription" class="control-label"></label>
                <input asp-for="CompanyDescription" class="form-control" />
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhone" class="control-label"></label>
                <input asp-for="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifierUserId" class="control-label"></label>
                <input asp-for="LastModifierUserId" class="form-control" />
                <span asp-validation-for="LastModifierUserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletionTime" class="control-label"></label>
                <input asp-for="DeletionTime" class="form-control" />
                <span asp-validation-for="DeletionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleterUserId" class="control-label"></label>
                <input asp-for="DeleterUserId" class="form-control" />
                <span asp-validation-for="DeleterUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

 *@
 
  

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>

                <span class="text-muted font-weight-bold mr-4">New Company Information</span>

                    @*<a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">
                        Add New
                    </a>*@
                <!--end::Actions-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class=" btn-sm font-weight-bold font-size-base mr-1">
                    @DateTime.Today.ToLongDateString()
                </a>
                <!--end::Actions-->

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--end::Entry-->
    <div class="card">
        <form class="form" asp-action="Create">

            <div class="card-body">
                <div class="form-group">
                    <label>Company Name:</label>
                    <input type="text" asp-for="CompanyName" class="form-control" placeholder="Company Name" />
                    <span class="form-text text-muted">Please enter company name</span>
                    <span asp-validation-for="CompanyName" class="text-danger"></span>

                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Phone #:</label>
                            <input type="tel" asp-for="CompanyPhone" class="form-control" placeholder="Enter Phone number" />
                            <span class="form-text text-muted">Please enter phone number</span>
                            <span asp-validation-for="CompanyPhone" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email" />
                            <span class="form-text text-muted">Please enter email address</span>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Website:</label>
                            <input type="url" asp-for="Website" class="form-control" placeholder="Enter Website" />
                            <span class="form-text text-muted">Please enter website</span>
                            <span asp-validation-for="Website" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Fax #:</label>
                            <input type="tel" asp-for="Fax" class="form-control" placeholder="Enter Fax" />
                            <span class="form-text text-muted">Please enter fax</span>
                            <span asp-validation-for="Fax" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Location:</label>
                            <input type="tel" asp-for="Location" class="form-control" placeholder="Enter Location" />
                            <span class="form-text text-muted">Please enter location</span>
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" asp-controller="Companies" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>
    
</div>

 
 