@model Infrastructure.Models.IncomeTaxSetting

@{
    ViewData["Title"] = "Create";
    Layout = "_StarAdminLayout";
}

 
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <form class="form" asp-action="Create">
            <div class="card-body">
                <h4 class="card-title">Create Income Tax Settings</h4>
                <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="number" asp-for="StartingAmount" class="form-control" placeholder="Starting Amount" />
                            <span asp-validation-for="StartingAmount" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>To:</label>
                            <input type="number" asp-for="EndingAmount" class="form-control" placeholder="Ending Amount" />
                            <span asp-validation-for="EndingAmount" class="text-danger"></span>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Percentage:</label>
                            <input type="number" asp-for="Percent" class="form-control" placeholder="Percentage" />
                            <span asp-validation-for="Percent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Deductables:</label>
                            <input type="text" asp-for="Deductable" class="form-control" placeholder="Deductable" />
                            <span asp-validation-for="Deductable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Effective Date:</label>
                            <input type="date" asp-for="ActiveDate" class="form-control" placeholder="Effective Date" />
                            <span asp-validation-for="ActiveDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>



            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" asp-controller="IncomeTaxSettings" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>

</div>
 
