@model Infrastructure.Models.IncomeTaxSetting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IncomeTaxSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartingAmount" class="control-label"></label>
                <input asp-for="StartingAmount" class="form-control" />
                <span asp-validation-for="StartingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingAmount" class="control-label"></label>
                <input asp-for="EndingAmount" class="form-control" />
                <span asp-validation-for="EndingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percent" class="control-label"></label>
                <input asp-for="Percent" class="form-control" />
                <span asp-validation-for="Percent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deductable" class="control-label"></label>
                <input asp-for="Deductable" class="form-control" />
                <span asp-validation-for="Deductable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveDate" class="control-label"></label>
                <input asp-for="ActiveDate" class="form-control" />
                <span asp-validation-for="ActiveDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifierUserId" class="control-label"></label>
                <input asp-for="LastModifierUserId" class="form-control" />
                <span asp-validation-for="LastModifierUserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletionTime" class="control-label"></label>
                <input asp-for="DeletionTime" class="form-control" />
                <span asp-validation-for="DeletionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleterUserId" class="control-label"></label>
                <input asp-for="DeleterUserId" class="form-control" />
                <span asp-validation-for="DeleterUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
