@using Infrastructure.Models
@model Infrastructure.Models.PayrollSetting

@{
    ViewData["Title"] = "Create";
    Layout = "_StarAdminLayout";
}

 
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <form class="form" asp-action="Create">
            <div class="card-body">
                <h4 class="card-title">Create Payroll Settings</h4>
                
                <div class="row">
                    <div class="form-group">
                        <label>Setting Type:</label>
                        <select type="text" class="form-control" asp-for="GeneralPSett" asp-items="Html.GetEnumSelectList<GeneralPSett>()" id="resourceLocation" required>
                                <option>-- Select Setting Type --</option>
                            </select>
                            <span asp-validation-for="GeneralPSett" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                            <label>Value:</label>
                            <input type="text" asp-for="Value" class="form-control" placeholder="Enter Value" />
                            <span asp-validation-for="Value" class="text-danger"></span>

                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" asp-controller="PayrollSettings" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>
</div>

 
 