@using Infrastructure.Models
@model Infrastructure.Models.PayrollSetting

@{
    ViewData["Title"] = "Create";
    Layout = "_StarAdminLayout";
}

  
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class=" btn-sm font-weight-bold font-size-base mr-1">
                    @DateTime.Today.ToLongDateString()
                </a>

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--end::Entry-->
    <div class="card">
        <form class="form" asp-action="Create">
            <div class="card-body">
                <h4 class="card-title">Create Payroll Settings</h4>

                <div class="col col-sm-4">
                    <div class="form-group">
                        <label>Setting Type:</label>
                        <select type="text" class="form-control" asp-for="GeneralPSett" asp-items="Html.GetEnumSelectList<GeneralPSett>()" id="resourceLocation" required>
                            <option>-- Select Setting Type --</option>
                        </select>
                        <span asp-validation-for="GeneralPSett" class="text-danger"></span>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="form-group">
                        <label>Value:</label>
                        <input type="text" asp-for="Value" class="form-control" placeholder="Enter Value" />
                        <span class="form-text text-muted">Please enter value</span>
                        <span asp-validation-for="Value" class="text-danger"></span>

                    </div>
                </div>


            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" asp-controller="PayrollSettings" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>

</div>

 