@model Infrastructure.Models.PayrollSheet

@{
    ViewData["Title"] = "Edit";
    Layout = "_StarAdminLayout";
}

<h1>Edit</h1>

<h4>PayrollSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayStart" class="control-label"></label>
                <input asp-for="PayStart" class="form-control" />
                <span asp-validation-for="PayStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayEnd" class="control-label"></label>
                <input asp-for="PayEnd" class="form-control" />
                <span asp-validation-for="PayEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allowance" class="control-label"></label>
                <input asp-for="Allowance" class="form-control" />
                <span asp-validation-for="Allowance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverTime" class="control-label"></label>
                <input asp-for="OverTime" class="form-control" />
                <span asp-validation-for="OverTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossSalary" class="control-label"></label>
                <input asp-for="GrossSalary" class="form-control" />
                <span asp-validation-for="GrossSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeTax" class="control-label"></label>
                <input asp-for="IncomeTax" class="form-control" />
                <span asp-validation-for="IncomeTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PensionEmployee" class="control-label"></label>
                <input asp-for="PensionEmployee" class="form-control" />
                <span asp-validation-for="PensionEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PensionCompany" class="control-label"></label>
                <input asp-for="PensionCompany" class="form-control" />
                <span asp-validation-for="PensionCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan" class="control-label"></label>
                <input asp-for="Loan" class="form-control" />
                <span asp-validation-for="Loan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penality" class="control-label"></label>
                <input asp-for="Penality" class="form-control" />
                <span asp-validation-for="Penality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherDeduction" class="control-label"></label>
                <input asp-for="OtherDeduction" class="form-control" />
                <span asp-validation-for="OtherDeduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetPay" class="control-label"></label>
                <input asp-for="NetPay" class="form-control" />
                <span asp-validation-for="NetPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonTaxableAllowance" class="control-label"></label>
                <input asp-for="NonTaxableAllowance" class="form-control" />
                <span asp-validation-for="NonTaxableAllowance" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifierUserId" class="control-label"></label>
                <input asp-for="LastModifierUserId" class="form-control" />
                <span asp-validation-for="LastModifierUserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletionTime" class="control-label"></label>
                <input asp-for="DeletionTime" class="form-control" />
                <span asp-validation-for="DeletionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleterUserId" class="control-label"></label>
                <input asp-for="DeleterUserId" class="form-control" />
                <span asp-validation-for="DeleterUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
