@using Infrastructure.Models
@model Infrastructure.Models.Attendance

@{
    ViewData["Title"] = "Create";
}

 


<div class="col-md-12 grid-margin stretch-card">
    
    <!--end::Entry-->
    <div class="card">
        <form class="form" asp-action="Create">
            
            <div class="card-body">
                <h4 class="card-title">Add Attendance</h4>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="date" asp-for="From" class="form-control" placeholder="From"/>
                            <span class="form-text text-muted">Starts from</span>
                            <span asp-validation-for="From" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>To:</label>
                            <input type="date" asp-for="To" class="form-control" placeholder="To"/>
                            <span class="form-text text-muted">Ends to</span>
                            <span asp-validation-for="To" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>Employee:</label>
                            <select type="text" class="form-control" asp-for="EmployeeId" asp-items="ViewBag.EmployeeId" id="EmployeeID" required="true">
                                <option>-- Select Employee ID --</option>
                            </select>
                            <span class="form-text text-muted">Please select Employee</span>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Attendance Type</label>
                            <select type="number" asp-for="AttendanceType" class="form-control" asp-items="Html.GetEnumSelectList<AttendanceType>()" required>
                                <option>-- Select Attendance Type --</option>
                            </select>
                            <span class="form-text text-muted">Attendance Type</span>
                            <span asp-validation-for="AttendanceType" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col col-sm-12">
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea  asp-for="Remark" class="form-control form-control-lg" placeholder="Remark" rows="4"></textarea>
                            <span asp-validation-for="Remark" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" asp-controller="Attendances" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>

</div>

 