@using Infrastructure.Models
@model Infrastructure.Models.Attendance

@{
    ViewData["Title"] = "Create";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
<!--begin::Global Theme Styles(used by all pages)-->
<link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->

<link href="~/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />        <!--end::Layout Themes-->

<link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />



<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    Create
                </h5>
                <!--end::Page Title-->
                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>

                <span class="text-muted font-weight-bold mr-4">Attendance</span>

                @*<a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">
                    Add New
                    </a>*@
                <!--end::Actions-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class=" btn-sm font-weight-bold font-size-base mr-1">
                    @DateTime.Today.ToLongDateString()
                </a>
                <!--end::Actions-->

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--end::Entry-->
    <div class="card">
        <form class="form" asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-dark"></div>*@
            <div class="card-body">

                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="date" asp-for="From" class="form-control" placeholder="From"/>
                            <span class="form-text text-muted">Starts from</span>
                            <span asp-validation-for="From" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>To:</label>
                            <input type="date" asp-for="To" class="form-control" placeholder="To"/>
                            <span class="form-text text-muted">Ends to</span>
                            <span asp-validation-for="To" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>Employee:</label>
                            <select type="text" class="form-control" asp-for="EmployeeId" asp-items="ViewBag.EmployeeId" id="EmployeeID" required="true">
                                <option>Select Employee ID</option>
                            </select>
                            <span class="form-text text-muted">Please select Employee</span>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Attendance Type</label>
                            <select type="number" asp-for="AttendanceType" class="form-control" asp-items="Html.GetEnumSelectList<AttendanceType>()" required>
                                <option>Select Attendance Type</option>
                            </select>
                            <span class="form-text text-muted">Attendance Type</span>
                            <span asp-validation-for="AttendanceType" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea type="text" asp-for="Remark" class="form-control" placeholder="Remark" rows="4"></textarea>
                            <span asp-validation-for="Remark" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" asp-controller="Attendances" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>

</div>

<script>
    var KTAppSettings = {
        "breakpoints": {
            "sm": 576,
            "md": 768,
            "lg": 992,
            "xl": 1200,
            "xxl": 1400
        },
        "colors": {
            "theme": {
                "base": {
                    "white": "#ffffff",
                    "primary": "#3699FF",
                    "secondary": "#E5EAEE",
                    "success": "#1BC5BD",
                    "info": "#8950FC",
                    "warning": "#FFA800",
                    "danger": "#F64E60",
                    "light": "#E4E6EF",
                    "dark": "#181C32"
                },
                "light": {
                    "white": "#ffffff",
                    "primary": "#E1F0FF",
                    "secondary": "#EBEDF3",
                    "success": "#C9F7F5",
                    "info": "#EEE5FF",
                    "warning": "#FFF4DE",
                    "danger": "#FFE2E5",
                    "light": "#F3F6F9",
                    "dark": "#D6D6E0"
                },
                "inverse": {
                    "white": "#ffffff",
                    "primary": "#ffffff",
                    "secondary": "#3F4254",
                    "success": "#ffffff",
                    "info": "#ffffff",
                    "warning": "#ffffff",
                    "danger": "#ffffff",
                    "light": "#464E5F",
                    "dark": "#ffffff"
                }
            },
            "gray": {
                "gray-100": "#F3F6F9",
                "gray-200": "#EBEDF3",
                "gray-300": "#E4E6EF",
                "gray-400": "#D1D3E0",
                "gray-500": "#B5B5C3",
                "gray-600": "#7E8299",
                "gray-700": "#5E6278",
                "gray-800": "#3F4254",
                "gray-900": "#181C32"
            }
        },
        "font-family": "Poppins"
    };
</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="~/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/assets/js/scripts.bundle.js"></script>
<!--end::Global Theme Bundle-->