@using Infrastructure.Models
@model IEnumerable<Infrastructure.Models.Attendance>

@{
    ViewData["Title"] = "Index";
    Layout = "_StarAdminLayout";
    int rowNumber = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Filter Attendances</h4>
        </div>
        <div class="card-description">
        </div>
        <div class="card-body">
            <div class="row col col-sm-12">
                <div class="row col col-sm-2">
                    <div class="form-group">
                        <select type="text" class="form-control" asp-items="ViewBag.MonthId" id="MonthId" required>
                            <option>-- Select Month --</option>
                        </select>
                    </div>
                </div>
                <div class="row col col-sm-2">
                    <div class="form-group">
                        <select type="text" class="form-control" asp-items="ViewBag.YearId" id="YearId" required>
                            <option>-- Select Year --</option>
                        </select>
                    </div>
                </div>
                <div class="row col col-sm-3">
                    <div class="form-group">
                        <select type="text" class="form-control" asp-items="ViewBag.EmployeeId" id="EmployeeId" required>
                            <option>-- Select Employee --</option>
                            <option value="0" selected>All</option>
                        </select>
                    </div>
                </div>
                <div class="row col col-sm-2">
                    <div class="form-group">
                        <button class="btn btn-success" type="button"> Search</button>
                    </div>
                </div>
                <div class="row col col-sm-2">
                    <div class="form-group">
                        <a asp-action="Create" asp-controller="Attendances" type="button" class="btn btn-primary"> New Attendance </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

