@model Infrastructure.Models.EmployeeSalary

@{
    ViewData["Title"] = "Create";
    Layout = "_StarAdminLayout";
}
  

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <form class="form" asp-action="Create">
            <div class="card-body">
                <h3 class="text-dark-25">Add New Salary</h3>
                <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                <div class="col col-sm-8">
                    <div class="form-group">
                        <label>Employee ID:</label>
                        <select type="text" class="form-control" asp-for="EmployeeId" asp-items="ViewBag.EmployeeId" id="EmployeeID">
                            <option>-- Select Employee --</option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Basic Salary:</label>
                            <input type="number" asp-for="BasicSalary" class="form-control" placeholder="Enter Basic Salary" />
                            <span class="form-text text-muted">Please enter basic salary</span>
                            <span asp-validation-for="BasicSalary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Transport Allowance:</label>
                            <input type="number" class="form-control"asp-for="TransportAllowance" placeholder="Enter Transport Allowance" />
                            <span class="form-text text-muted">Transport allowance</span>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Home Allowance:</label>
                            <input type="number" class="form-control" asp-for="HomeAllowance" placeholder="Enter Home Allowance" />
                            <span class="form-text text-muted">Taxable home allowance</span>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Position Allowance:</label>
                            <input type="number" class="form-control" asp-for="PositionAllowance" placeholder="Enter Position Allowance" />
                            <span class="form-text text-muted">Taxable position allowance</span>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Other Allowance:</label>
                            <input type="number" class="form-control" asp-for="OtherAllowance" placeholder="Enter Other Allowance" />
                            <span class="form-text text-muted">Please other allowance</span>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Add Salary</button>
                <button asp-action="Index" asp-controller="EmployeeSalaries" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>
</div>
 