@model Infrastructure.Models.EmployeeSalary

@{
    ViewData["Title"] = "Edit";
    Layout = "_StarAdminLayout";
}
  

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    New 
                </h5>
                <!--end::Page Title-->
                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>

                <span class="text-muted font-weight-bold mr-4">Employee Salary</span>
                 
                <!--end::Actions-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class=" btn-sm font-weight-bold font-size-base mr-1">
                    @DateTime.Today.ToLongDateString()
                </a>
                <!--end::Actions-->

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--end::Entry-->
    <div class="card">
        <form class="form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-dark"></div>
            <div class="card-body">
                <input type="hidden" asp-for="EmployeeId"/>
                
                <h3 class="text-dark-25">Add New Salary</h3>
                <div class="col col-sm-4">
                    <div class="form-group">
                        <label>Employee ID:</label>
                        <select type="text" class="form-control" asp-for="EmployeeId" asp-items="ViewBag.EmployeeId" id="EmployeeID" disabled>
                            <option>Select Employee</option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Basic Salary:</label>
                            <input type="number" asp-for="BasicSalary" class="form-control" placeholder="Enter Basic Salary"/>
                            <span class="form-text text-muted">Please enter basic salary</span>
                            <span asp-validation-for="BasicSalary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Transport Allowance:</label>
                            <input type="number"  class="form-control" placeholder="Enter Transport Allowance"/>
                            <span class="form-text text-muted">Please transport allowance</span>
                            <span  class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Home Allowance:</label>
                            <input type="number"  class="form-control" placeholder="Enter Home Allowance"/>
                            <span class="form-text text-muted">Please home allowance</span>
                            <span  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="form-group">
                            <label>Other Allowance:</label>
                            <input type="number"  class="form-control" placeholder="Enter Other Allowance"/>
                            <span class="form-text text-muted">Please other allowance</span>
                            <span  class="text-danger"></span>
                        </div>
                    </div>
                </div>
                 
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-hover-bg-success mr-2">Add</button>
                <button asp-action="Index" asp-controller="EmployeeSalaries" class="btn btn-secondary">Back To List</button>
            </div>
        </form>
    </div>

</div>
 